In [126]:
import pandas as pd
import torch
import torch.nn as nn
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import torch.nn.functional as f

In [80]:
ds=pd.read_csv('train.csv')

In [81]:
ds=ds.dropna()

In [82]:
ds.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [83]:
features=["Pclass","Age","SibSp","Parch","Fare","Sex","Cabin"]
label=["Survived"]

In [84]:

ds.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [85]:
cabinlen=len(ds["Cabin"].unique())

In [86]:
le=preprocessing.LabelEncoder()

In [87]:
encoded_cabin=le.fit_transform(ds["Cabin"].unique())
unencoded_cabin=ds["Cabin"].unique()

In [88]:
for i in range(cabinlen):
    ds.loc[ds["Cabin"]==unencoded_cabin[i],"Cabin"]=encoded_cabin[i]

In [89]:
# female=0 male=1
ds.loc[ds["Sex"]=="female","Sex"]=0
ds.loc[ds["Sex"]=="male","Sex"]=1

In [90]:
ds.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,72,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,48,S
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,117,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,131,S
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,43,S

In [91]:
X=ds[features]
y=ds[label]

In [102]:
X["SibSp"]=X["SibSp"].astype("float32")
X["Pclass"]=X["Pclass"].astype("float32")
X["Parch"]=X["Parch"].astype("float32")
X["Sex"]=X["Sex"].astype("float32")
X["Cabin"]=X["Cabin"].astype("float32")

C:\Users\Odin Revolution\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Odin Revolution\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Odin Revolution\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Odin Revolution\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Odin Revolution\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [103]:
X.dtypes

Pclass    float32
Age       float64
SibSp     float32
Parch     float32
Fare      float64
Sex       float32
Cabin     float32
dtype: object

In [104]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [138]:
model=nn.Linear(len(features),2)

In [139]:
X_train=np.array(X_train)
y_train=np.array(y_train)

In [140]:
X_train=torch.from_numpy(X_train).float()
y_train=torch.from_numpy(y_train).float()

In [141]:
linear=model(X_train)

In [142]:
prob=f.softmax(linear,dim=1)

In [143]:
i,j=torch.max(prob,dim=1)

In [144]:
print(i)
print(j)

tensor([0.9996, 1.0000, 1.0000, 1.0000, 0.9999, 1.0000, 1.0000, 1.0000, 0.9675,
        1.0000, 1.0000, 0.7423, 1.0000, 1.0000, 1.0000, 0.9961, 1.0000, 0.9390,
        0.7996, 1.0000, 0.9998, 1.0000, 0.9961, 1.0000, 0.9999, 0.9974, 0.9427,
        0.7744, 0.9904, 1.0000, 0.9863, 0.9971, 1.0000, 1.0000, 1.0000, 1.0000,
        1.0000, 1.0000, 0.5335, 0.8500, 1.0000, 1.0000, 1.0000, 0.5995, 1.0000,
        1.0000, 0.9997, 0.9918, 0.9991, 0.8751, 1.0000, 1.0000, 1.0000, 1.0000,
        0.9683, 0.9911, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
        0.9999, 1.0000, 0.9919, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
        1.0000, 0.9548, 1.0000, 0.5668, 1.0000, 1.0000, 0.9980, 1.0000, 1.0000,
        0.9991, 1.0000, 0.9963, 1.0000, 1.0000, 0.9985, 1.0000, 1.0000, 0.9504,
        1.0000, 1.0000, 0.6221, 1.0000, 1.0000, 1.0000, 1.0000, 0.6998, 1.0000,
        1.0000, 1.0000, 1.0000, 0.9999, 1.0000, 0.9997, 1.0000, 0.9996, 1.0000,
        1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 0.9941, 0.9992, 1.0000, 1.0000,
        0.9999, 1.0000, 1.0000, 0.7949, 0.9946, 1.0000, 1.0000, 0.9742, 1.0000,
        1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000,
        0.5510, 0.9989], grad_fn=<MaxBackward0>)
tensor([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])